h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 200;
  text-align: left;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 200;
  text-align: left;
}

.titletext {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 100;
  text-align: left;
}

.textpart {
  padding: 5% 0 5% 3%;
}

#title {
  /*text-align: center;*/
  background-image: linear-gradient(#f0f0f0, white);
}

.container-fluid {
  padding: 3% 15% 7%;
}

.titlesection{
  padding-top: 10%;
}

.icon {
  width: 80%;
  margin-left: 14%;
  border-radius: 10%;
  z-index: 1;
  position: relative;
}

.color {
  width: 80%;
  margin-left: 10%;
  border-radius: 10%;
  z-index: 0;
  position: absolute;
  left: 10%;
  bottom: 0;

}
.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

.nav-item {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding: 0 18px;
  color: black;
}

.backcolor {
  background-color: #ff4c68;
  border-radius: 15%;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

#skills {
  background-color: #ffe8df;
  border-radius: 15px;
  padding: 3% 3%;
  margin: 7% 10% 5% 10%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.89rem;

}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

.fas:hover {
  color: #575656;
}

.fas {
font-size: 3rem;
padding: 5%;
color: darkgrey;
}

.iconimg {
  width: 20%;
  padding: 7% 0 5% 0;
}

.iconimg:hover {
  width: 22%;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 200;
  text-align: center;
}

.skillhr {
  width: 7%;
  text-align: center;
}

.xing {
  text-align: left;
  margin: 5% 3% 5% 0;
}

.project{
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 3% 3%;
  margin: 7% 10% 10% 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.89rem;

}
.projectphoto {
  width: 80%;
  border-radius: 15px;
}

.projectrow {
  margin-top: 5%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.details {
  line-height: 2;
}

.more {
  margin-left: 5.5%;
}
.pp {
  font-size: 1.7rem;
}
.titleeis {
  padding: 10% 0;
  text-align: right;
}

.project-heading {
  text-align: left;
  margin-left: 9%;

}

.eistitletext {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 100;
  text-align: left;
  margin-left: 9%;
}

#projectnavbar {
  margin-bottom: 0;
  padding-bottom: 2%;
}
.eispic {
  width: 60%;
  padding-bottom: 2%;
}

.foodusetext {
  margin-left: 0;
}

#Eis-Overview {
  background-color: #ffe8df;
  border-radius: 15px;
  padding: 3% 6%;
  margin: 7% 10% 5% 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.89rem;
}

.h3right {
  text-align: left;
  margin-left: 2%;
}

.hrright {
  margin-right: 57%;
  width: 40%;
  text-align: left;
}

#Eis-First-Steps {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 3% 6%;
  margin: 7% 10% 5% 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.89rem;
}

.researchpic {
  margin-top: 5%;
  width: 80%;
}

#Eis-Wireframing {
  background-color: #ffe8df;
  border-radius: 15px;
  padding: 3% 6%;
  margin: 7% 10% 5% 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.89rem;
}

.wireframe {
  margin: auto 0;
  width: 70%;
}

#Eis-Interfaces {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 3% 6% 0 6%;
  margin: 7% 10% 5% 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.89rem;
  position: relative;
}

#Github {
  padding: 7% 15%;
  text-align: center;
}

.github {
  margin-top: 3%;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
}

#Eis-Role {
  background-color: #ffe8df;
  border-radius: 15px;
  padding: 3% 6%;
  margin: 7% 10% 5% 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.89rem;
  position: relative;
  z-index: 1;
}

.role {
  width: 60%;
  margin: 10% 3% 10% 10%;
}
.handy {
  width: 70%;
  transform: rotate(15deg);
  margin-left: 20%;


}

.phonepic {
  position: relative;
}

.wireframepic {
  width: 90%;
}

.pppic {
  width: 70%;
  padding: 2%;
}

.ppheadline {
  font-size: 2rem;
}

.books {
  width: 70%;
  margin-top: 20%;
  margin-left: 10%;
}
.conducting {
  margin-bottom: 5%;
  margin-left: 15%;
  width: 60%;
}

.interview {
  width: 60%;
  margin: 15% 0 0 30%;
}

.questionnaire {
  width: 60%;
  margin-right: 7%;
  margin-bottom: 7%;
  margin-left: 15%;
}

#PP-Interview {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 3% 6% 3% 6%;
  margin: 7% 10% 5% 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.89rem;
  position: relative;
}
.pp {
  margin-top: 2%;
  font-size: 1.25rem;
}

.bapic {
    width: 70%;
    padding: 2%;
}
.baheadline{
    font-size: 1.7rem;
}

.ta {
  width: 80%;
  border-radius: 5%;
  margin-left: 20%;
}

.persona {
  width: 100%;
  margin-top: 5%;
}

.app1  {
  width: 100%;
  border-radius: 20%;
}

.app2  {
  width: 100%;
  border-radius: 20%;
  margin-top: 100%;
}
.app3  {
  width: 100%;
  border-radius: 20%;
  margin-top: 200%;
}

.elearning {
  width: 70%;
  border-radius: 5%;
  margin-left: 20%;
}

#contact {
  text-align: center;
}
.contactbutton {
  margin: 2% 1%;

}


@media (max-width: 1028px) {


  .profileicon {
    margin-top: 3%;
    width: 90%;
  }

.textpart {
  text-align: center;
}

h1 , h2 {
  text-align: center;
}

.titletext {
  text-align: center;
}

.projectphoto {
  margin: 5% 0 0 10%;
}

.more {
  text-align: center;
  margin: 2% 0 2% 30%;
}
 h3 {
   font-size: 1.5rem;
   text-align: center;
 }

 .eispic {
   width: 60%;
   margin-right: 15%;
 }
.projectphoto {
  width: 80%;
  margin-bottom: 5%;
}
.researchpic {
  width: 60%;
  margin-top: 5%;
  margin-left: 15%;
}
.wireframepic {
  margin: 3% 0 7% 15%;
  width: 120%;
}

.handy {
  margin-right: 25%;
  width: 60%;
}

.role {
  width: 55%;
  margin: 0 0 5% 22%;
}
.pppic {
  width: 60%;
  margin-right: 15%;
}
.books {
  width: 45%;
  margin-left: 25%;
  margin-bottom: 3%;

}
.questionnaire {
  width: 55%;
  margin-left: 25%;
}

.interview {
  width: 55%;
  margin-right: 60%;
}

.conducting {
  margin-left: 20%;
}
.app1 {
  margin-bottom: 10%;
}
.app2 {
  margin: 0 0 10% 0;
}

.app3 {
  margin: 0 0 10% 0;
}

.bapic {
  margin-right: 12%;
}

.ta {
  margin-right: 15%;
  margin-top: 4%;
  width: 60%;
}

.persona {
  margin-bottom: 5%;
}
.elearning {
  width: 60%;
}
}
